.message-list {
    grid-area: m;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    height: 100%;
    overflow-y: auto;
    background: var(--secondary-background-color);
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.scroll-to-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: -7%;
    right: 3%;
    z-index: 99;
    background: var(--main-background-color);
    border-radius: 50%;
    box-sizing: border-box;
    transition: bottom .2s linear;
}

.scroll-to-top.visible {
    bottom: 8%;
}

.scroll-to-top:before {
    content: '\276E';
    color: #fff;
    font-size: 30px;
    transform: rotate(270deg);
    display: block;
    position: absolute;
    left: 18px;
    top: 11px;
}