:root {
  --main-color: #334150;
  --main-background-color: #249AF3;
  --secondary-color: #fff;
  --main-text-color: #3e5869;
  --secondary-text-color: #C8CBCF;
  --send-message-form: #F5F5F5;
  --secondary-background-color: #F5F6F7;
  --border-color: #dfe7ed;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: var(--main-text-color);
}

#root {
  height: 100%;
}

/* REST OF CSS */

form {
  margin: 0;
}

.scroll::-webkit-scrollbar {
  width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 22px;
  background-color: rgba(0,0,0,.3);
}

.scroll::-webkit-scrollbar-track-piece {
  border-radius: 22px;
  background-color: rgba(0,0,0,.1);
}